h1{
  font-family: Georgia,"Times New Roman", Times,serif;
  background-color: grey;
  color: white;
  text-align: center;
}

p{
  position:relative;
  left:40%;
  display:inline-block;
  margin-top:0px;
  text-align:center;
  font-family: Georgia,"Times New Roman", Times,serif;
  font-size:20px;
}

#outerBox {
  display: flex;
  flex-wrap: wrap;
  background:lightgrey;
  width:721px;
  margin-left:300px;
}



.box {
  background-color:black;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.boxClicked{
  background-color:white;
}


