body{
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}

h3{
background-color: darkgrey;
color: white;
text-align: center;
margin: 10px 10px 10px 10px;
font-size: x-large;
}

input{
margin-left: 10px;

}

.todolist{
margin-left: 10px;
font-size: 20px;
}
